* {
  font-family: 'Space Grotesk', sans-serif;
}

.navbar a:hover {
  opacity: 50%;
  transition: all ease-in-out 0.3s;
}
.btn:hover {
  opacity: 80%;
  transition: all ease-in-out 0.3s;
}
.col a .bi {
  color: white;
  margin: 5px;
  font-size: 1em;
}
footer p {
  font-size: 12px;
}

section h2 {
  margin-bottom: 30px;
}
footer h2 {
  font-size: 1em;
}
.col a:hover {
  opacity: 70%;
  transition: 0.3s all ease-in-out;
}

.card {
  margin-bottom: 15px;
}
.card:hover {
  opacity: 50% !important;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.card-title {
  text-align: center;
}
section {
  margin: 20em 2em;
}

section p {
  text-align: center;
  font-size: 14px;
}

.titleSection {
  text-align: center;
  margin-bottom: 30px;
}
.text-container {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  white-space: nowrap; /* Agar teks tidak wrap ke baris baru */
}

.hidden {
  visibility: hidden; /* Sembunyikan huruf secara default */
}
